@font-face {
    font-family: "Bodoni";
    src: url("/fonts/BodoniFLF-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Garamond";
    src: url("/fonts/EBGaramond-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arista";
    src: url("/fonts/Arista2.0.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}




.ticket {
    &__side {
        display: grid;
    }
}

.info {
    &__location {
        font-family: "Bodoni";
    }
    &__time {
        font-family: "Bodoni";
    }
    &__instructions {
        font-family: "Garamond";
    }
    &__company {
        font-family: "Arista";
    }
}
